<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.university.asset.mapper.SysMenuMapper">

    <select id="selectPermsByUserId" resultType="string">
        SELECT DISTINCT m.perms
        FROM sys_menu m
        LEFT JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
        LEFT JOIN sys_user_role ur ON rm.role_id = ur.role_id
        WHERE ur.user_id = #{userId}
          AND m.perms IS NOT NULL
          AND m.perms != ''
          AND m.status = '0'
    </select>

    <select id="selectMenusByUserId" resultType="com.university.asset.entity.SysMenu">
        SELECT DISTINCT m.*
        FROM sys_menu m
        LEFT JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
        LEFT JOIN sys_user_role ur ON rm.role_id = ur.role_id
        WHERE ur.user_id = #{userId}
          AND m.status = '0'
          AND m.visible = '0'
        ORDER BY m.parent_id, m.order_num
    </select>

    <select id="selectMenuIdsByRoleId" resultType="long">
        SELECT menu_id FROM sys_role_menu WHERE role_id = #{roleId}
    </select>

</mapper>
