<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.university.asset.mapper.SysRoleMapper">

    <select id="selectRolesByUserId" resultType="com.university.asset.entity.SysRole">
        SELECT r.* FROM sys_role r
        LEFT JOIN sys_user_role ur ON r.role_id = ur.role_id
        WHERE ur.user_id = #{userId} AND r.deleted = 0
    </select>

    <select id="selectRoleIdsByUserId" resultType="long">
        SELECT role_id FROM sys_user_role WHERE user_id = #{userId}
    </select>

    <delete id="deleteRoleMenuByRoleId">
        DELETE FROM sys_role_menu WHERE role_id = #{roleId}
    </delete>

    <insert id="insertRoleMenuBatch">
        INSERT INTO sys_role_menu (role_id, menu_id) VALUES
        <foreach collection="menuIds" item="menuId" separator=",">
            (#{roleId}, #{menuId})
        </foreach>
    </insert>

    <delete id="deleteUserRoleByUserId">
        DELETE FROM sys_user_role WHERE user_id = #{userId}
    </delete>

    <insert id="insertUserRoles">
        INSERT INTO sys_user_role (user_id, role_id) VALUES
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{userId}, #{roleId})
        </foreach>
    </insert>

</mapper>
