<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.university.asset.mapper.SysUserMapper">

    <select id="selectByUsername" resultType="com.university.asset.entity.SysUser">
        SELECT * FROM sys_user WHERE username = #{username} AND deleted = 0
    </select>

    <select id="selectUserPage" resultType="com.university.asset.entity.SysUser">
        SELECT u.* FROM sys_user u
        WHERE u.deleted = 0
        <if test="keyword != null and keyword != ''">
            AND (u.username LIKE CONCAT('%', #{keyword}, '%') OR u.nickname LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="deptId != null">
            AND u.dept_id = #{deptId}
        </if>
        <if test="status != null and status != ''">
            AND u.status = #{status}
        </if>
        <if test="query.dataScope != null and query.dataScope != ''">
            ${query.dataScope}
        </if>
        ORDER BY u.create_time DESC
    </select>

</mapper>
